<div class="home-component"
     fxLayout>
  <agm-map
    fxFlex
    [latitude]="lat"
    [longitude]="lng"
    (mapReady)="onMapReady($event)">
    <agm-marker
      *ngFor="let marker of markers; let i = index"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [label]="character[i]"
      >
    </agm-marker>
  </agm-map>

  <div class="inputs-container"
       fxFlex="300px"
       fxLayout="column"
       fxLayoutGap="16px">
    <div class="location-input-container mat-elevation-z2">
      <mat-form-field>
        <input #loc matInput placeholder="Location" (keyup.enter)="getMarkers(loc.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <div class="cards-container"
         fxLayout="column"
         fxLayoutGap="16px">
      <mat-card class="location-card"
                fxLayout="column"
                fxLayoutGap="8px"
                *ngFor="let marker of markers; let i = index">
        <div fxLayout fxLayoutAlign="start center">
          <div fxFlex class="label">{{character[i]}}</div>
          <mat-icon *ngIf="marker?.distance">location_on</mat-icon>
          <div *ngIf="marker.distance" class="distance">{{marker.distance.toFixed(1)}} mi</div>
        </div>
        <mat-card-content>
          <div *ngIf="marker?.OutOfService"fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-icon style="color: #FF9800">warning</mat-icon>
            <span>Out of Service</span>
          </div>
          <div *ngIf="!marker?.OutOfService"fxLayout fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-icon style="color: #4CAF50">check_circle</mat-icon>
            <span>In Service</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
